<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./styles/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/ed.jpg">
            <p>This site was created by Khaled Waleed. It uses mapbox.com and weatherapi.net!</p>
        </div>
        
        {{>footer}}
    </body>
</html>